.block7 {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 40px 90px 40px;
  background-color: rgba(4, 4, 4, 0.8);
  backdrop-filter: blur(10px);
}

.block7__title-container {
  width: 100%;
  margin: 0;
  padding: 0 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.block7__title {
  width: 75%;
  margin: 0 0 10px 0;
  padding: 0;
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-size: 52px;
  line-height: 54px;
  color: #fff;
  text-align: left;
  text-decoration: none;
}

.block7__faq-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.block7__faq {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;  
  border-bottom: 1px solid #fff;
}

.block7__faq-vopros {
  width: 100%;
  min-height: 40px;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.block7__faq:hover {
  opacity: 60%;
}

.block7__faq-vopros-title {
  width: calc(100% - 60px);
  height: fit-content;
  margin: 0;
  padding: 0;
  font-family: "source-code-pro", monospace;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  text-decoration: none;  
  text-wrap: balance;
}

.block7__faq-vopros-button {
  width: 20px;
  height: 20px;
  margin: 10px 0;
  padding: 0;
  transition: transform 0.3s ease;
}

.block7__faq-vopros-button_opened {
  transform: rotate(45deg);
}

.block7__faq-otvet {
  width: 100%;
  margin: 0;
  padding: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.block7__faq-otvet_closed {
  display: none;
}

.block7__faq-otvet-text {
  width: calc(100% - 60px);
  margin: 0;
  padding: 0;
  font-family: "source-code-pro", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  text-wrap: balance;
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .block7 {
    padding: 50px 20px 90px 20px;
  }

  .block7__title {
    width: 70%;
    font-size: 46px;
    line-height: 48px;
  }  
}

@media (min-width: 960px) and (max-width: 1199px) {
  .block7 {
    padding: 38px 10px 78px 10px;
  }

  .block7__title-container {
    padding: 0 0 38px 0;
  }

  .block7__title {
    width: 75%;
    font-size: 38px;
    line-height: 40px;
  }

  .block7__faq-container {
    gap: 10px;
  }

  .block7__faq {
    gap: 10px;
  }

  .block7__faq-vopros {
    gap: 10px;
  }

  .block7__faq-vopros-title {
    font-size: 14px;
    line-height: 16px;
  }

  .block7__faq-otvet {
    padding: 0 0 10px 0;
  }

  .block7__faq-otvet-text {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .block7 {
    padding: 38px 10px 78px 10px;
  }

  .block7__title-container {
    padding: 0 0 38px 0;
  }

  .block7__title {
    width: 80%;
    font-size: 38px;
    line-height: 40px;
  }

  .block7__faq-container {
    gap: 10px;
  }

  .block7__faq {
    gap: 10px;
  }

  .block7__faq-vopros {
    gap: 10px;
  }

  .block7__faq-vopros-title {
    font-size: 16px;
    line-height: 18px;
  }

  .block7__faq-otvet {
    padding: 0 0 10px 0;
  }

  .block7__faq-otvet-text {
    width: 100%;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  .block7 {
    padding: 25px 10px 65px 10px;
  }

  .block7__title-container {
    padding: 0 0 25px 0;
  }

  .block7__title {
    width: 90%;
    font-size: 30px;
    line-height: 32px;
  }

  .block7__faq-container {
    gap: 10px;
  }

  .block7__faq {
    gap: 10px;
  }

  .block7__faq-vopros {
    gap: 10px;
  }

  .block7__faq-vopros-title {
    font-size: 14px;
    line-height: 16px;
  }

  .block7__faq-otvet {
    padding: 0 0 10px 0;
  }

  .block7__faq-otvet-text {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 479px) {
  .block7 {
    padding: 25px 10px 65px 10px;
  }

  .block7__title-container {
    padding: 0 0 25px 0;
  }

  .block7__title {
    width: 90%;
    font-size: 22px;
    line-height: 24px;
  }

  .block7__faq-container {
    gap: 10px;
  }

  .block7__faq {
    gap: 10px;
  }

  .block7__faq-vopros {
    gap: 10px;
  }

  .block7__faq-vopros-title {
    font-size: 14px;
    line-height: 16px;
  }

  .block7__faq-otvet {
    padding: 0 0 10px 0;
  }

  .block7__faq-otvet-text {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
  }
}